<script type="text/javascript">
</script>


<!-- Mainly scripts -->
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>
<!-- jQuery UI -->
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Toastr -->
<script src="/js/plugins/toastr/toastr.min.js"></script>
{% block foot %}{% endblock %}
</html>
