<div class="col-md-3 col-xs-3 col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
          <a href="/graphs/{{graph.id}}">
            <h5>{{ graph.name }}</h5>
          </a>
        </div>
        <div>
            <div class="ibox-content no-padding border-left-right">
              <a href="/graphs/{{graph.id}}">
                  <img alt="image" class="kathaa-graph-snapshot" style="width:100%;background-color:black" class="img-responsive" src="/snapshot/{{graph.id}}.png">
              </a>
            </div>
            <div class="ibox-content profile-content">
              <div class="row">
                <h4>
                  <i class="fa fa-user"></i> Author :
                  <a class="inline" style="" href="{{ '/users/' + graph.user._id }}">
                    <strong>{{graph.user.name}}</strong>
                  </a>
                </h4>
              </div>
              <div class="row">
                <i class="fa fa-calendar"></i> Created :
                <p class="inline">
                 {{ graph.createdAt | date('F jS, Y') }}</p>
              </div>
                 {% if (graph.parentGraph) %}
                  <div class="row" style="margin-bottom:10px;">
                  <i class="fa fa-code-fork"></i>  Forked From :
                  <a href="/graphs/{{graph.parentGraph.toString()}}"><code>{{ graph.parentGraph.toString() }}</code></a>
                  </div>
                 {% endif %}
                <div class="row">
                <div class="user-button">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-lg-6">
                          {% if (graph.user.id == req.user.id ) %}
                            <a href="/graphs/{{graph.id}}" class="btn btn-primary btn-sm btn-block"><i class="fa fa-pencil"></i> Edit</a>
                          {% else %}
                            <a href="/graphs/{{graph.id}}" class="btn btn-primary btn-sm btn-block"><i class="fa fa-eye"></i> View</a>
                          {% endif %}
                        </div>
                        <div class="col-md-6 col-xs-6 col-lg-6">
                          {% if (graph.user.id == req.user.id ) %}
                            <form action="/graphs/{{graph.id}}" method="POST">
                              <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                              <input type="hidden" name="_method" value="DELETE">
                              <button type="submit" class="btn btn-danger btn-sm btn-block"><i class="fa fa-trash"></i> Delete</button>
                            </form>
                          {% else %}
                          <a href="/graphs/{{graph.id}}/fork" class="btn btn-success btn-sm btn-block"><i class="fa fa-code-fork"></i> Fork</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>
</div>
